/*style.css*/

body {padding: 8px;}

.header {
    background-color: rgb(37, 35, 35);
    color: white;
    margin: 24px;
}

.top {
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

#right {
    margin-left: auto;
    padding: 14px;
}